<div class="author">
    <h1 class="author__heading">Hi, I am Pranshu.</h1>
    <p class="author__body">Web developer and Content creator.</p>
  </div>

  <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
  <h2>Follow Me On:</h2>
  <hr>
  <a href="https://leetcode.com/pranshu0801/">&rarr; Leetcode</a><br>
  <a href="https://www.linkedin.com/in/pranshu-singh-1470781b3/">&rarr; LinkedIn</a><br>
  <a href="https://github.com/singhpranshu72">&rarr; Github</a><br>
  <a href="https://auth.geeksforgeeks.org/user/singhpranshu72">&rarr; GFG</a><br>
  <a href="https://codeforces.com/profile/singhpranshu72">&rarr; Codeforces</a>